<section class="introduction" style='background-image: url({{header.image}};'>
  <div class="textfield">
    <h1>{{header.title}}</h1>
    <p>{{header.subtitle}}</p>
  </div>
</section>

<section class="design">
  <div class="inner-wrapper">
    <div>
      <h3>{{design.title}}</h3>
      <p>{{design.content}}</p>
      <button href={{design.button_link}}>{{design.button_text}}</button>
    </div>
    <img src={{design.image}} alt='Illustratie voor: {{design.title}}'>
  </div>
</section>

<section class="studentwork">
  <div class="inner-wrapper">

    <div>
      <h3>{{studentwork.title}}</h3>
      <p>{{studentwork.content}}</p>
      <button href={{studentwork.button_link}}>{{studentwork.button_text}}</button>
    </div>
    <img src={{studentwork.image}} alt='Illustratie voor: {{studentwork.title}}'>
  </div>
</section>

<section class="workingTogether">
  <div class="inner-wrapper">

    <div>
      <h3>{{workingTogether.title}}</h3>
      <p>{{workingTogether.content}}</p>
      <button href={{workingTogether.button_link}}>{{workingTogether.button_text}}</button>
    </div>
    <img src={{workingTogether.image}} alt='Illustratie voor: {{workingTogether.title}}'>
  </div>
</section>

<section class="masterclasses">
  <div class="inner-wrapper">

    <div>
      <h3>{{masterclasses.title}}</h3>
      <p>{{masterclasses.content}}</p>
      <button href={{masterclasses.button_link}}>{{masterclasses.button_text}}</button>
    </div>
    <img src={{masterclasses.image}} alt='Illustratie voor: {{masterclasses.title}}'>
  </div>
</section>