<section class="introduction" style='background-image: -webkit-image-set( url(assets/{{header.image}}) 1x,
  url(assets/{{header.xlImage}}) 2x );'>
  <div class="textfield">
    <h1>{{header.title}}</h1>
    <p>{{header.subtitle}}</p>
  </div>
</section>

<section class="design">
  <div class="inner-wrapper">
    <div class="textfield">
      <h3>{{design.title}}</h3>
      <p>{{design.content}}</p>
      <a href={{design.btn_link}}>{{design.btn_text}}</a>
    </div>
    <img src="/assets/{{design.xlImage}}" sizes="(min-width: 40em) 80vw, 100vw" srcset="/assets/{{design.image}} 375w,
          /assets/{{design.lgImage}} 480w,
        /assets/{{design.xlImage}} 768w" alt='Illustratie voor: {{design.title}}'>
  </div>
</section>

<section class="studentwork">
  <div class="inner-wrapper">
    <div class="textfield">
      <h3>{{studentwork.title}}</h3>
      <p>{{studentwork.content}}</p>
      <a href={{studentwork.btn_link}}>{{studentwork.btn_text}}</a>
    </div>
    <img src="/assets/{{studentwork.xlImage}}" sizes="(min-width: 40em) 80vw, 100vw" srcset="/assets/{{studentwork.image}} 375w,
          /assets/{{studentwork.lgImage}} 480w,
        /assets/{{studentwork.xlImage}} 768w" alt='Illustratie voor: {{studentwork.title}}'>
  </div>
</section>

<section class="workingTogether">
  <div class="inner-wrapper">
    <div class="textfield">
      <h3>{{workingTogether.title}}</h3>
      <p>{{workingTogether.content}}</p>
      <a href={{workingTogether.btn_link}}>{{workingTogether.btn_text}}</a>
    </div>
    <img src="/assets/{{workingTogether.xlImage}}" sizes="(min-width: 40em) 80vw, 100vw" srcset="/assets/{{workingTogether.image}} 375w,
          /assets/{{workingTogether.lgImage}} 480w,
        /assets/{{workingTogether.xlImage}} 768w" alt='Illustratie voor: {{workingTogether.title}}'>
  </div>
</section>

<section class="masterclasses">
  <div class="inner-wrapper">
    <div class="textfield">
      <h3>{{masterclasses.title}}</h3>
      <p>{{masterclasses.content}}</p>
      <a href={{masterclasses.btn_link}}>{{masterclasses.btn_text}}</a>
    </div>
    <img src="/assets/{{masterclasses.xlImage}}" sizes="(min-width: 40em) 80vw, 100vw" srcset="/assets/{{masterclasses.image}} 375w,
          /assets/{{masterclasses.lgImage}} 480w,
        /assets/{{masterclasses.xlImage}} 768w" alt='Illustratie voor: {{masterclasses.title}}'>
  </div>
</section>